
#left-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  float: left;
  width: 45%;
  padding-left: 3%;
  margin-top: 40px;
}
#left-panel i {
  font-size: 12px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  float: right;
  height: 100%;
  width: 50%;
}
#output {
  padding-bottom: 10px;
}
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('https://cdn.dribbble.com/users/1053664/screenshots/3658436/beerfill_large.gif')
              50% 50%
              no-repeat;
}

body.loading .modal {
  display: block;
}

#output, #results {
  font-size: 13px;
}

p {
  font-weight: bolder;
}

nav {
  background-color: #4ABDAC;
  height: 80px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: ivory;
  margin-top:0;
}

h1, .title {
  padding-top: 18px;
  margin-top:0;
  font-family: 'Poiret One', cursive;
  color: ivory;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: #4ABDAC;
}

.container {
  padding: 10px 0px;
  max-width: 450px;
  border-top: 4px solid #4ABDAC;
}

@media only screen and (max-width: 750px) {
  #map {
    display: block;
    height: 40%;
    width: 100%;
  }

  #left-panel {
    line-height: 25px;
    padding: 5px 15px;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    align-content: center;
  }
  .container {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    min-width: 450px;
  }

  h1, .title {
    padding-top: 22px;
    vertical-align: middle;
    font-size: 25px;
  }

}

@media only screen and (max-width: 445px) {
  h1, .title {
    padding-top: 10px;
    vertical-align: middle;
    font-size: 25px;
  }
  .container {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    border-top: 4px solid #4ABDAC;
  
  }

}
